<!DOCTYPE html>
<html>
    <head>
        <title>Vue Demo</title>
    </head>
    <body>

        <div id="root">
            <input type="text" v-model="greeting" />

            <h1>{{ foo }}</h1>
            <p>The Value of this input is {{ greeting }}.</p>
            <ul>
                <li v-for="name in names" v-text="name"></li>
            </ul>

            <input type="text" v-model="newName" @keydown.ctrl.87="CtrlW" />
            <button class="btn btn-primary" @click="addName">Add Name</button>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

        <script type="text/javascript">

            var app = new Vue({
                el: '#root',
                data: {
                    newName: '',
                    greeting: 'Hello World',
                    foo: 'bar',
                    names: ['Leo', 'Mikey', 'Raph', 'Don'],
                },
                methods: {
                    addName() {
                        this.names.push(this.newName);
                        this.newName = '';
                    },
                    CtrlW() {
                        console.log('Ctrl-W detected');
                    },
                },
            });

        </script>
    </body>
</html>
