<!DOCTYPE html>
<html>
    <head>
        <title>Vue Demo</title>
    </head>
    <body>

        <div id="root">
            <input type="text" v-model="greeting" />
            <custom-display> {{ greeting }}</custom-display>

            <ul>
                <li v-for="name in names" v-text="name"></li>
            </ul>

            <input type="text" v-model="newName" @keydown.ctrl.87="CtrlW" />
            <button class="btn btn-primary" @click="addName">Add Name</button>

            <hr>

            <h1>
                All Tasks (Component):
            </h1>
            <task-list heading="TODO" :tasks="todoTasks"></task-list>
            <task-list heading="Complete":tasks="completedTasks"></task-list>

            <hr>

            <input type="text" v-model="newTask" @keydown.ctrl.87="CtrlW" />
            <button class="btn btn-primary" @click="addTask">Add Task</button>

            <h1>TODO:</h1>
            <ul>
                <li v-for="task in todoTasks" >
                    <span><button @click="markCompleted(task)">&nbsp;&#10003;&nbsp;</button></span>{{ task.description }}
                </li>
            </ul>

            <h1>DONE</h1>
            <ul>
                <li v-for="task in completedTasks"><strike>{{ task.description }}</strike></li>
            </ul>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>
